#business-carousel {

    & button.slick-prev, button.slick-next {
        top: 100%;
        z-index: 2;
    }

    & button.slick-prev{
        transform: translateX(100%);
    }
    & button.slick-next{
        transform: translateX(-100%);
    }

    & button.slick-prev::before ,button.slick-next::before{
        color: black;
        font-weight: bolder;
    }

}